* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header .head .banner {
    width: 100%;
    height: 460px;
    background: url(../images/banner.png) no-repeat center top;
    background-size: cover;
}

header .head .nav {
    height: 60px;
    line-height: 60px;
    background-color: rgb(253, 44, 37);
}

header .head .nav .menu {
    width: 85%;
    margin: auto;
}

header .head .nav ul li {
    float: left;
    display: inline-block;
    position: relative;
    width: 12.3%;
}

header .head .nav ul li a {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    line-height: 60px;
    width: 100%;
    text-align: center;
}

header .head .nav ul li a:hover {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    line-height: 60px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

footer .foot {
    background-color: rgb(253, 44, 37);
    height: 70px;
}

footer .foot .copyright {
    line-height: 70px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}